six
tqdm==4.30.*
torch>=1.1
torchtext==0.8.1
future
configargparse
iopath
numpy
pandas
spacy
networkx
git+https://github.com/boudinfl/pke.git
wandb
git+https://github.com/huggingface/transformers
matplotlib
nltk
fairseq
